<footer>
	<div class="selector">
		<div class="row">
			<div class="col-sm-4">
				<f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '10'}"/>
			</div>
			<div class="col-sm-4">
				<f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '11'}"/>
			</div>
			<div class="col-sm-4">
				<f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '12'}"/>
			</div>
		</div>
		<div class="border-top last-line w100 sm-w100 xs-w100">
			<p class="label-responsive sm-bloc-center xs-bloc-center">
				<img src="/extension/yosemite_custom/design/www/images/footer/responsive.png" alt="Ce site est responsive" class="responsive desktop" />
				<img src="/extension/yosemite_custom/design/www/images/footer/responsive-mobile.png" alt="Ce site est responsive" class="responsive mobile" />
				<img src="/extension/yosemite_custom/design/www/images/footer/responsive-tablette.png" alt="Ce site est responsive" class="responsive tablette" />
			</p>
		</div>
	</div>
</footer>